*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(69, 188, 204),rgb(224, 133, 160));
    font-family: sans-serif;
    color: white;
}

.box{
    position: relative;
    width: 20rem;
    background: rgb(200, 219, 221,0.6);
    border-radius: 10px;
}

.location, 
.temperature{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location__timezone{
    font-size: 2rem;
}

.temperature{
    flex-direction: column;
    padding: 1.5rem 1rem;
}

.degree__section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree__section span{
    margin: 1rem;
    font-size: 1.6rem;
}
.degree__section h2{
    font-size: 2rem;
}

@media screen and (min-width: 700px) {

   
    .box{
        width: 30rem;
        padding: 2rem;
    }
}
